<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Params.inc.title }} &mdash; {{ .Site.Params.inc.subtitle }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,600,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link href="{{ .Site.BaseUrl }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Params.inc.title }}" />
  <meta name="title" content="{{ .Site.BaseUrl }}">
  <link rel="canonical" href="{{ .Site.BaseUrl }}">
  <meta property="og:title" content="{{ .Site.Params.inc.title }}"/>
  <meta property="og:url" content="{{ .Site.BaseUrl }}"/>
  <meta property="og:image" content="{{ .Site.BaseUrl }}/images/{{ .Site.Params.inc.logo }}"/>   
  <meta property="og:site_name" content="{{ .Site.Params.inc.title }}">
</head>
<body>
<section class="site-nav">
  <header>
    <nav id="navigation">
      <a href="/" class="home">Blog</a>
      <a href="/tags">Tagi</a>
      <a href="/post">Archiwum</a>
      {{ with .Site.Params.inc.about_link }}<a href="{{ . }}">O mnie</a>{{ end }}
    </nav>
  </header>
</section>

