{{ partial "header.html" . }}
  <section>
    <div class="container">
      <h1>Posty z tagu #{{ lower .Title }}</h1>
    </div>
  </section>
  <article class="container">
    {{ range .Data.Pages }}
    <h3><a href="{{ .Permalink }}">{{ .Title}}</a></h3>
    <div class="meta">
      <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
      <ul id="tags">
        {{ range .Params.tags }}
        <li><a href="/tags/{{ lower . | urlize }}">#{{ . }}</a> </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </article>
{{ partial "footer.html" . }}
