{{ partial "header.html" . }}
  <section class="container">
    <h1>Tagi</h1>
  </section>
  <article class="container">
    {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.ByCount }}
    <h3 class="tag"><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">#{{ $value.Name }}</a> ({{ $value.Count }})</h3>
<!--
    <ul class="list-unstyled">
      {{ range $value.Pages.ByDate }}
      <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
-->
    {{ end }}
  </article>
{{ partial "footer.html" . }}
